<div class='mainContainer'>
  <h3>Log In Below</h3>
  <div class='loginDiv'>
    <form id='emailForm'>
      <p class='formTitles'>Email Address:</p>
      <label for='email'></label><br />
      <input type='text' id='emailInput' class='loginForm' name='email' /><br />
      <span id='email' class='errorMsg red-text'></span><br />

      <p class='formTitles'>Password:</p>
      <label for='password'></label><br />
      <input
        type='text'
        id='passwordInput'
        class='loginForm'
        name='password'
      /><br />
      <span id='password' class='emailError errorMsg red-text'></span><br />

      <input type='submit' id='validateBtn' class='button' value='submit' />
    </form>
  </div>
</div>

<script src='/js/login.js'></script>