<div class="mainContainer">
    <h3>Log In Below</h3>
    <div class="loginDiv">
        <form id="emailForm">
            <p class="loginFormTitles">Email Address:</p>
            <label for="email"></label><br>
            <input type="text" id="email" class="loginForm" name="email"><br>
            <span id="password" class="errorMsg red-text"></span><br>

            <p class="loginFormTitles">Password:</p>
            <label for="password"></label><br>
            <input type="text" id="password" class="loginForm" name="password"><br>
            <span id="email" class="errorMsg red-text"></span><br>

            <label for="disclaimer" id="disclaimer">
                <input type="checkbox" />
                <p>By providing your phone number, you consent to its use
                    exclusively for the purpose of logging into your account. We will never contact you for any
                    other reason or share your number third parties.</p>
            </label>
            <span id="disclaimerError" class="errorMsg red-text"></span><br>
            
            <input type="button" id="validateBtn" class="button" value="Submit">
        </form>
    </div>
</div>

<script src="./js/login.js"></script>