<div class="mainContainer">
    <h3>Log In Below</h3>
    <div class="loginDiv">
        <form id="emailForm" action="/login" method="post">
            <p class="loginFormTitles">Email Address:</p>
            <label for="email"></label><br>
            <input type="text" id="emailInput" class="loginForm" name="email"><br>
            <span id="password" class="errorMsg red-text"></span><br>

            <p class="loginFormTitles">Password:</p>
            <label for="password"></label><br>
            <input type="text" id="passwordInput" class="loginForm" name="password"><br>
            <span id="email" class="errorMsg red-text"></span><br>

            <input type="button" id="validateBtn" class="button" value="Submit">
        </form>
    </div>
</div>

<script src="/public/assets/js/login.js"></script>